.content {
    width: 1440px;
    height: auto;
    margin: 30px auto 20px 390px;
    padding: 0 50px 30px 50px;
    background-color: #fff;
}

.title {
    font-size: 42px;
    font-weight: 900;
}

.title input {
    font-size: 42px;
    font-weight: 900;
}

.title div:before, .title div:after{
    display: none;
}

.image {
    width: 100%;
}

.tags {
    margin: 15px 0;
}

.editor {
    margin: 30px -30px;
}

.editor .cm-s-easymod{
    border: 0;
    font-size: 22px;
}

.editor .editor-toolbar {
    border: 0;
    background: rgb(0 0 0 / 2%);
}

.buttons {
    display: flex;
}

button {
    margin-right: 15px;
}