# Default ignored files
/../../../:./react-internship/.idea/shelf/
/../../../:./react-internship/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:./react-internship/.idea/httpRequests/
